@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@import './variables';
@import './form';
@import './post';
@import './postBtn';
@import './title';


body {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    font-family: "Open Sans", serif;
}

.wrapper {
    height: 90vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.main {
    height: 90vh;
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
    width: 80%;
    margin: 0 auto; 
    display: flex;
}

.cover-page {
    background: url("../images/mbg.jpg") center center no-repeat;
    // background-size: cover;
    
    // display: flex;
    // justify-content: center;
    // align-items: center;
    
    // text-align: center;

    height: 110vh;
    width: auto;

    // margin-top: 0px;
    // // margin-bottom: 50px;

    // box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
    
    margin: -120px 0px 60px 0px; /* play with these to position the image */
    // position:absolute;
    z-index:-1000;
}




